*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: 'Quicksand', sans-serif;
}

.logoImg {
    display: flex;
    justify-content: end;
    padding: 15px;
}
.logoImg img {
    width: 35px;
    height: 35px;
}
header {
    background-color: #2F4550;
    padding: 15px;
}
.head {
    display: flex;
    justify-content: space-between;
}
h1 {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    align-items: center;
    justify-content: center;
}

.load {
    text-align: center;
}
.connectBtn{
    background-color: rgb(228, 0, 0);
    color: #1E2337;
    border: none;
    margin-top: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    display: flex;
}