*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: 'Quicksand', sans-serif;
    background-color: #B8DBD9;
    margin: auto;
}

h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: var();
    color: #2F4550;
    padding: 15px;
}

.container {
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.connectInscript {
    font-weight: 700;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F4F4F9;
    padding: 45px;
    margin: 45px;
    width: 55%;
}

.connect {
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
   
}
.inscript {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}