*{
    text-align: center;
}

body{
    background-color: #586F7C;
}

.titre{
 text-align: center;
 background-color: #B8DBD9;
}

.Activités{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    margin: 20px;
    background-color: #B8DBD9;
    border-radius: 5px;
}

.numéro{
    font-size: 3em;
}

.date{
    font-size: 2em;
    text-align: center;
}

.cadre{
    background-color: #F4F4F9;
    padding: 20px;
    border-radius: 10px;
}

.date_entretient{
    display: flex;
    flex-direction: column;
}

button{
    padding: 5px;
    border-radius: 20px;
    border: #2F4550 3px solid;
}