*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: 'Quicksand', sans-serif;
}

.logoImg {
    display: flex;
    justify-content: end;
    padding: 15px;
}
.logoImg img {
    width: 35px;
    height: 35px;
}
header {
    background-color: #2F4550;
    padding: 15px;
}
.head {
    display: flex;
    justify-content: space-between;
}
h1 {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    justify-content: center;
    text-align: center;
}

.connectBtn{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 15%;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
}