*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    margin: auto 0 ;
}

.logoImg img {
    width: 35px;
    height: 35px;
}
header {
    background-color: #2F4550;
    padding: 15px;
}
header {

}
h1 {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 15px;
}

.profilInformation {
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.gridInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.listInfo {
    list-style: none;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
}
.listInfo li {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.4rem;

}