*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    
}
.logoImg {
    display: flex;
    justify-content: end;
    padding: 15px;
}
.logoImg img {
    width: 35px;
    height: 35px;
}
header {
    background-color: #2F4550;
    padding: 15px;
}
.head {
    display: flex;
    justify-content: space-between;
}
h1 {
    color: white;
}

.background{
    background-color: #586F7C;
    height: 200px;
    display: flex;
    align-items: center;
}

aside{
    padding: 40px 8px;
    margin-left: 10px;
    background-color: #D9D9D9;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
}

.champs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.champ{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.champ label{
    color: #FFFFFF;
}

.champ input{
    background-color: #D9D9D9;
}

.btn-ajout{
    padding: 10px 50px;
    margin-bottom: 20px;
    color: black;
    background-color: #BBE3E0;
    border-radius: 5px;
}

table{
    border-collapse : separate;
    border-spacing : 0px 20px;
}

.tbody tr{
    width: 100vw;
    background-color: #D9D9D9;
}

.tbody tr td{
    width: 15vw;
    height: 50px;
    text-align: center;
}


.td-btn{
    color: #F4F4F9;
    background-color: white;
    display: flex;
    justify-content: start;
}

.btn-modif{
    margin-top: -5px;
    width: 60px;
    height: 60px;
}


@media (max-width: 1400px) {
.background{
    /* object-fit: cover;
    width: 100vw; */
    background-color: #586F7C;
    height: 300px;
    display: flex;
    align-items: center;
}
.form{
    margin-left: 0px;
}
.champs{
    display: flex;
    flex-wrap: wrap;
}

}


@media (max-width: 768px) {
.background{
    /* object-fit: cover;
    width: 100vw; */
    background-color: #586F7C;
    height: 600px;
    display: flex;
    align-items: center;
}
.form{
    margin-left: 0px;
}
.champs{
    display: flex;
    flex-wrap: wrap;
}
.tbody tr td{
    border: 1px solid black;
    overflow: auto;
}
table{
    table-layout: fixed;
    width: 100%
}

}