*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    margin: auto 0 ;
}

header {
    background-color: #2F4550;
    padding: 15px;
    text-align: center;
}
h1 {
    color: white;
}

h2 {
    text-align: center;

}

.profilInformation {
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: auto;
    
}