*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
    
}
body{
    font-size: 1.4rem; /*14px*/
    font-family: 'Quicksand', sans-serif;
    background-color: #B8DBD9;
    height: 100vh;
    
}

button {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 15%;
    color: black;
    font-weight: 500;
}
.returnBtn {
    width: 100%;
    background-color: white;
    height: 50%;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: 600;
}
h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #2F4550;
    padding: 15px;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.formulaire-connection{
    width: 50%;
    color: grey;
    display: flex;
    flex-direction: column;
    padding: 45px;
}
.form-item{
    margin-bottom: 3rem;
}
.form-item label{
    display: block;
    margin-bottom: 10px;
    font-size: 2rem;
}
.form-item input, textarea{
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    border: none;
}
textarea{
    height: 200px;
    font-family: inherit; 
    resize: none;
}
.connectBtn{
    background-color: rgb(255, 255, 255);
    color: #1E2337;
    border: none;
    margin-top: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    display: flex;
}
.error{
    margin-top: 5px;
    color: red;
}
.invisible{
    display: none;
}